table {
  margin-top: 1rem;
  border-collapse: collapse;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: #e8e66f;
  color: rgb(113, 106, 106);
}

tr:nth-child(even) {
  background-color: #e0e0e0f0;
}

tr:hover {
  background-color: #b0f4ff;
  transform: scale(1.005);
  transition: transform 0.25s ease-in-out;
}

input[type="number"] {
  width: 4rem;
  padding: 0.5rem;
  border-width: thin;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 200px;
  background-color: #00ddff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1.5rem;
}

.btn:hover {
  background-color: #0aacf7;
  color: #000000;
}

.Amount {
  font-size: x-large;
}
