#header {
  display: flex;
  width: auto;
}

#header .pro-sidebar-header {
  padding: 10px;
}

#header .closemenu {
  color: #ffffff;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}

#header .pro-sidebar {
  height: auto;
  width: 300px; /* Adjust the width based on the contents */
  min-width: 100px; /* Set a minimum width to prevent collapsing */
}

#header .pro-sidebar.collapsed {
  width: 80px;
  height: 100vh;
  min-width: 80px;
}

#header .pro-sidebar-inner {
  background-color: rgb(51, 51, 51);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}

#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 10px;
  color: #eeeee4; /* Change the text color in the header */
  font-weight: bold;
  margin-bottom: 0;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0;
  margin-top: 15px;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 18px; /* Increase the contents fontsize */
}

#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: #fefefe;
  color: #000000;
  border-radius: 50%;
  transition: 0.3s ease;
  font-size: large;
}

#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
  font-size: 20px; /* Increase the icons fontsize */
}

#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper:hover {
  background-color: #fefefd;
}

#header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-color: #574ac0;
}

#header .logo {
  padding: 15px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
