.pro-id {
  font-weight: 350;
  padding: 2%;
}
.btn {
  size: 30%;
}
.product-container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
}
