body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pro-sidebar-content {
  background-color: rgb(51, 51, 51);
}

#header .pro-sidebar-header {
  background-color: rgb(51, 51, 51);
}

.pro-item-content {
  color: rgb(255, 255, 255);
}

.css-15wwp11-MuiTableHead-root {
  background-color: black;
}
.css-zd7ftd-MuiFormControl-root {
  padding-right: 20px;
}
