body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pro-sidebar-content {
  background-color: rgb(51, 51, 51);
}

#header .pro-sidebar-header {
  background-color: rgb(51, 51, 51);
}

.pro-item-content {
  color: rgb(255, 255, 255);
}

.css-15wwp11-MuiTableHead-root {
  background-color: black;
}
.css-zd7ftd-MuiFormControl-root {
  padding-right: 20px;
}
.nextui-c-BDLTQ-ikXHmfO-css {
  max-width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-height: 220px;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
